---
title: Help | Bento Budget
sidebar: true
---
<div>
 <div id="help-content" class="container">
  <h1 class="header">Help</h1>
  <div class="row">
    <div class="col-md-3">
      <div id="sidebar" data-spy="affix" data-offset-top="50">
        <ul id="side-nav" class="nav nav-pills nav-stacked">
         <li><a href="#quick-start-video">Quick Start Video</a>
          <li><a href="#getting-started">Getting Started</a>
            <ol>
              <li><a href="#add-incomes">Add Incomes</a></li>
              <li><a href="#add-envelopes">Add Envelopes</a></li>
              <li><a href="#setup-budget">Setup Budget</a></li>
              <li><a href="#add-accounts">Add Accounts</a></li>
            </ol>
          </li>
          <li><a href="#envelope-budgeting">Envelope Budgeting 101</a></li>
          <li><a href="#budget">Budget</a>
           <ul>
            <li><a href="#budget-income">Income</a></li>
            <li><a href="#budget-income-allocations">Envelope Allocations</a></li>
          </ul>
        </li>
        <li><a href="#envelopes">Envelopes</a>
          <ul>
            <li><a href="#envelopes-transfer">Transfer</a></li>
            <li><a href="#envelopes-reorder">Reordering</a></li>
          </ul>
        </li>
        <li><a href="#accounts">Accounts</a>
          <ul>
            <li><a href="#accounts-updating">Updating</a></li>
            <li><a href="#linked-accounts">Linked Accounts</a></li>
          </ul>
        </li>
        <li><a href="#transactions">Transactions</a>
          <ul>
            <li><a href="#assigning-transactions">Assigning to Envelope</a></li>
            <li><a href="#splitting-transactions">Splitting</a></li>
            <li><a href="#allocating-income">Allocating Income</a></li>
            <li><a href="#filters">Filters</a></li>  
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <h1 id="quick-start-video">Quick Start Video</h1>
    <p>Watch the quick start video for a visual walk-through that will make getting started even easier!</p>
    <iframe width="700" height="400" src="http://www.youtube.com/embed/fDEaY_RSShI" frameborder="0" allowfullscreen></iframe>
    <h1 id="getting-started">Getting Started</h1>
    <p>Getting started with Bento Budget is easy!  You just need to complete 4 easy steps:
     <ol>
      <li><a href="#add-incomes">Add Incomes</a></li>
      <li><a href="#add-envelopes">Add Envelopes</a></li>
      <li><a href="#setup-budget">Setup Budget</a></li>
      <li><a href="#add-accounts">Add Accounts</a></li>
    </ol>  
    <p>After you're setup, you'll be in full control of your money.  Let's get started.</p>
    <h1 id="add-incomes">Add Incomes</h1>
    <p>Adding Incomes is the first step in establishing a budget as it helps you plan your spending on a monthly basis.  If your income is variable and unpredictible you can use an average amount or your best guess.</p>
    <p>Go to Budget page and then click the "New" button in the Income area on the left.</p>
    <img class="img-rounded" src="{{assets}}/images/new-income-button.png"/>
    <p>You'll be asked to enter the new income details.  The "How would you like to allocate this income?" question might be confusing at first but you can leave it on the Recommended option for now and come back and change it later.</p>
    <img class="img-rounded" src="{{assets}}/images/new-income-form.png"/>
    <p>If you have additional incomes to add, simply click the "New" button again and repeat the steps above until all your household incomes have been added.  Once you are finished, you'll have a list of you household incomes and a nice "Total Monthly Income" amount which will be the starting point for your budget.</p>
    <img class="img-rounded" src="{{assets}}/images/incomes-example.png"/>
    <h1 id="add-envelopes">Add Envelopes</h1>
    <p>Adding Envelopes is the next step in getting setup.  Envelopes are the "containers" for your budget and help you organize your budget.  Examples: Car Maintenance, Christmas Gifts, Mortgage, Clothing, etc.  It's fine if you don't add all the envelopes you want to have at this point, because it is easy to go back and add more, but adding the envelopes you know about now will help make your setup process smoother.</p>
    <p>Simply click the "New Envelope" button from the Budget screen.</p>
    <img class="img-rounded" src="{{assets}}/images/new-envelope.png"/>
    <p>You'll be asked if you want to add an Envelope or a Group (a container for envelopes).  Click "Envelope".</p>
    <img class="img-thumbnail" src="{{assets}}/images/new-envelope-button.png"/>
    <p>Give your new envelope a name and select the group it should belong to.  Click "Save".</p>
    <img class="img-thumbnail" src="{{assets}}/images/new-envelope-form.png"/>
    <p>Repeat the above steps until you have added all of the envelopes you know about now.  When you want to organize envelopes into new groups, simply select "Group" when prompted.</p>
    <p>If you need to rename or delete an envelope, simply hover over its name and click.  The edit envelope screen will show up and allow you to edit the name, change the group, or delete the envelope.</p>
    <h1 id="setup-budget">Setup Budget</h1>
    <p>Now that you have you Incomes and Envelopes defined, it's time to setup your budget.  This is where things start getting fun.</p>
    <p>What you need to do here is simply specify how your total monthly income is going to be distributed into your envelopes.  If you make $2,570.00 each month, you need to distribute amounts into your envelopes until you have distributed all $2,570.00.  The total of your distributions should equal your monthly income; otherwise you are budgeting for more income than you have!</p>
    <img class="img-thumbnail" src="{{assets}}/images/budget-setup.png"/>
    <p>Now that our budget is setup, we need to specify how our income will satisfy the budgetted amounts.</p>
    <img class="img-thumbnail" src="{{assets}}/images/allocations-setup.png"/>
    <h1 id="add-accounts">Add Accounts</h1>
    <p>You're almost done getting setup!  In this step you need to add your spending accounts (Checking, Savings, Credit Card) that correspond directly to your bank accounts.  From the "Transactions" screen click "New" in the Accounts area.</p>
    <img class="img-thumbnail" src="{{assets}}/images/new-account.png"/>
    <p>You'll need to specify the account type, either Import or Linked.  An Import account simply means the account will not be linked to your online account and entering transactions can be done one by one or by downloading a transaction file from you back and then uploading it into Bento Budget.  A linked account is "connected" to you online bank account and Bento Budget can automatically download your transactions.  Not all banks support linking so you'll need to select Import type if your bank cannot be linked.</p>
    <img class="img-thumbnail" src="{{assets}}/images/new-account-type.png"/>
    <p>The final step of adding either an Import or Linked account is going to ask you to enter the Initial balance and the Initial balance date.  The initial balance / date is important because it is the "starting" point for the account.  Bento Budget needs to know at what point to begin tracking an account.</p>
    <img class="img-thumbnail" src="{{assets}}/images/new-account-initial-balance.png"/>
    Once you add a new account, you will be asked to allocate the initial balance.  This tells Bento which envelopes to place the balance from the account in.  The amount you allocate to each envelope when adding an account will usually be different from your monthly budget amounts but you should simply decide how to allocate the initial balance.  If you are adding an account, the initial balance is money you currently have so it should allocated to different envelopes.
    <img class="img-thumbnail" src="{{assets}}/images/new-account-allocate.png"/>
    <h1 id="envelope-budgeting">Envelope Budgeting 101</h1>
    <p>Bento Budget is based on the "Envelope System".  With a traditional budget, a household will decide how much to spend by category (Mortgage, Food, Entertainment, etc.) and then, if they are dilligent, review the expenses for a month period to see how they did.  If they went over or under they take note and try to do better next month.</p>
    <p>The problem with this is it is <i>reactive</i> and does not allow planning for irregular expenses such as Christmas gifts.  Also, it does not provide a discipled approach to deal with over spending.  If you over spend on food, where does the money come from?  Savings?  Charge it on the credit card?</p>
    <p>Envelope Budgeting takes a different approach.  Instead of reactively looking at how much you spent, you instead "allocate" income to "Envelopes".  These envelopes are simply logical contains for money that is designated for a particular purpose.  The money stays in these envelopes until it is spent or transferred to another envelope.  Envelopes should never be 'negative' and if you overspend from one envelope you must transfer money from another envelope to cover it.  For instance, let's say you start out the month with $200.00 in your Eating Out envelope and $50.00 in your Entertainment envelope.  Let's say you are mid way through the money and have only $10.00 left in your Eating Out envelpe but you and your significant other want to have a nice dinner out that will cost $30.00.  Since you only have $10.00 left in your Eating Out envelope, you must decide where the additional $20.00 will come from and you decide to transfer $20.00 from Entertainment to cover the difference.
    </p> 
    <p>This is a better approach because it is <i>proactive</i> and forces you to plan ahead and be accountable for overspending.</p>
    <h1 id="budget">Budget</h1>
    You budget in comprised of two pieces, your Income(s) and Envelope allocations.
    <h2 id="budget-income">Income</h2>
    <p>Defining your Income(s) if the first step in establishing a budget because it provides the basis of planning your budget.  You need to know how much income you have on a monthly basis to be able to budget your spending.</p>
    <p>Adding Incomes is the first step in establishing a budget as it helps you plan your spending on a monthly basis.  If your income is variable and unpredictible you can use an average amount or your best guess.</p>
    <p>Go to Budget page and then click the "New" button in the Income area on the left.</p>
    <img class="img-rounded" src="{{assets}}/images/new-income-button.png"/>
    <p>You'll be asked to enter the new income details including the income amount, the frequency it is paid and how often you would like to allocate it.</p>
    <img class="img-rounded" src="{{assets}}/images/new-income-form.png"/>
    <p>The <strong>How would you like to allocate this income?</strong> question is asking at what frequency do you want to fund your envelopes with your income.  What you specify here drives the creation of your Allocation Plans, which define how you will fund your envelopes on a monthly basis.</p>
    <p>For example: Let's say you have budgeted $100 monthly toward your Eating Out budget.  You have get paid twice a month and have added this income.  When you added your income, you indicated you wanted to allocate it "Each paycheck".  This will result in two allocation plans being created: "First Check" and "Second Check".  You decide that each time you get paid you will allocate $50.00 toward your Eating Out envelope.  Since you get paid twice a month, you will be allocating a total of $100 each month which is your budgeted amount.</p>
    <p>Another approach you could take would be to specify "Once a month".  You might do this if you want to accumulate income through a month and have a full month's worth of income to allocate at the beginning of the next month.  Some budget philosophies encourage you to do your budget this way and Bento Budget is flexible enough to accomodate this without forcing you to do so.  If you were to chose "Once a month" only one allocation plan would be created and you would most likely want your allocation plan to be exactly what your monthly budget is, since you will be allocating only once a month.</p>
    <p>If you have additional incomes to add, simply click the "New" button again and repeat the steps above until all your household incomes have been added.  Once you are finished, you'll have a list of you household incomes and a nice "Total Monthly Income" amount which will be the starting point for your budget.</p>
    <img class="img-rounded" src="{{assets}}/images/incomes-example.png"/>
    <h2 id="budget-income-allocations">Envelope Allocations</h2>
    <p>Once your incomes have been added, you need to indicate how your Total Monthly Income will be budgeted across your envelopes.
      <p>What you need to do here is simply specify how your monthly income is going to be distributed into your envelopes.  If you make $2,570.00 each month, you need to distribute amounts into your envelopes until you have distributed all $2,570.00.  The total of your distributions should equal your monthly income; otherwise you are budgeting for more income than you have!</p>
      <img class="img-thumbnail" src="{{assets}}/images/budget-setup.png"/>
      <p>Depending on what you selected for the <strong>How would you like to allocate this income?</strong> question when adding your income(s) you will have one or more "Allocation Plans" listed to the right of your green monthly budget column.  These allocation plans will show up when allocating new income and enable you to plan how your income will satisfy your budget on a monthly basis.</p>
      <p>Your budget is planned on a monthly basis but income is usually received more than once a month so the allocation plans allow you to plan how your income will fulfill your budgeted envelope amounts.</p>
      <p>For each envelope, you should specify amounts for each allocation plan that will add up to your monthly budgeted amount.  For instance, if yor budget $200.00 in Groceries each month and get paid twice a month you will have 2 allocations plans "1st Check" and "2nd Check".  You may decide to allocate $100 from each check (for a total of $200 monthly) or allocation all $200 from the first check and $0 from the second check so you will have all $200 available at the beginning of the month.  However you split of the income across allocations plans, the total should match your monthly budgeted amount.</p>
      <p>Generally, you will want to split income across allocation plans for envelopes which have periodic spending through the month, such as Gas, Groceries, Entertainment, etc.  However, since occurance transactions such as bills you will want to make sure your envelope is fully funded when the transaction comes in.  For instance, if get paid twice a month and your mortgage payment of $1200 is due on the 5th of the month, you'll want to allocation all $1200 to you "1st Check" and $0 to your "2nd Second".  This way when the mortgage payment comes through your envelope will have enough to cover it.</p>
      <img class="img-thumbnail" src="{{assets}}/images/allocations-setup.png"/>
      <h1 id="envelopes">Envelopes</h1>
      <h2 id="envelopes-transfer">Transfer</h2>
      <p> Sometimes you need to transfer amounts from one envelope to another.  You may need to do this to cover overspending in an envelope or to correct an allocation or reconcile an account.  Transferring is easy and you just need to click the "Transfer" button in the Envelopes area of the Transactions screen.</p>
      <img class="img-thumbnail" src="{{assets}}/images/envelope-transfer-button.png"/>
      <p>You will be asked to specify the from / to envelopes, amount, date, and any notes.  Saving the transfer will change the envelope balances of the from / to envelopes to reflect the transfer.</p>
      <img class="img-thumbnail" src="{{assets}}/images/envelope-transfer.png"/>
      <h2 id="envelopes-reorder">Reordering</h2>
      <p>If you would like to change the display order of envelopes and/or envelope groups, you can simply drag and drop the new order from the Transactions screen.  Just click the envelope / group, hold down the mouse, and then drag it to the desired location.  This new order will automatically be saved.</p>
      <img class="img-thumbnail" src="{{assets}}/images/envelopes-reorder.png"/>
      <h1 id="accounts">Accounts</h1>
      <h2 id="accounts-updating">Updating</h2>
      <p>When you initially <a href="#add-accounts">add accounts</a> you will be prompted to allocate the initial balance.  After this, you will want to add new transactions as they get recorded.  There are several ways to do this.
        <ul>
          <li><strong>Manual Add</strong> 
            <p>You can enter transactions manually, one by one by clicking the "New" button on the Transactions page.</p>
            <img class="img-thumbnail" src="{{assets}}/images/new-transaction.png"/>
            <img class="img-thumbnail" src="{{assets}}/images/new-transaction-form.png"/>
          </li>
          <li><strong>Import from File</strong>
            <p>You can login to you bank's website and download a transaction file which can then be imported into Bento Budget.  The supported file types are:</p>
            <ul>
              <li>QFX - Quicken / Web Connect</li>
              <li>OFX - Microsoft Money / Direct Connect</li>
              <li>QIF - Quicken</li>
              <li>CSV - Excel, Comma Separated Values</li>
            </ul>
            <p>Simply click the "Import" button from the Transactions screen to begin the process.</p>
            <img class="img-thumbnail" src="{{assets}}/images/import.png"/>
            <p>You will then be prompted to select the account (for which the transactions you are importing belong to) and specify the transactions file to import.</p>
            <img class="img-thumbnail" src="{{assets}}/images/import-form.png"/>
          </li>
          <li><strong>Auto Import Linked Account</strong>
            <p>For linked accounts, you can automatically import transactions from your bank.  When you linked your account, if you chose to save your password, Bento Budget will attempt to automatically import new transactions on a daily basis.  If you want to check for new transactions since the last update or you chose not to save your password when adding the account, you can simply click the "Update" button the Transactions screen, Accounts area.</p>
            <img class="img-thumbnail" src="{{assets}}/images/update-account.png"/>
            <img class="img-thumbnail" src="{{assets}}/images/update-linked-accounts.png"/>
          </li>
        </ul>
      </p>
      <h2 id="linked-accounts">Linked Accounts</h2>
      <p>Linked accounts are tied directly to your bank which allows for easy updating because Bento Budget can automatically download your transactions.</p>
      <p>To add a new linked simply click the "New" button in the Accounts area of the Transactions screen an then select "Linked Account".  There will be a series of screens you will walk through to get you account linked.  The first step will ask you to select your bank from a dropdown and then provide your username and password.</p>
      <p>You will be given the option to "Save Password".  What this means is that your password will be securely stored and used by Bento Budget to automatically download your transactions on a daily basis.  If you chose to not save your password, you will simply need to login to Bento Budget and <a href="#accounts-updating">Update</a> your account.  At the time of update you will be asked to provide your password but it will <i>not</i> be stored.</p>
      <img class="img-thumbnail" src="{{assets}}/images/new-linked-account.png"/>
      <p>The banks which support linking are:</p>
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <li>121 Financial Credit Union</li>
            <li>1st Advantage FCU</li>
            <li>5 Star Bank</li>
            <li>Abbott Laboratories Employee CU</li>
            <li>Achieva Credit Union</li>
            <li>Addison Avenue Federal Credit Union</li>
            <li>Advantis Credit Union</li>
            <li>Affinity Plus Federal Credit Union</li>
            <li>Alpine Banks of Colorado</li>
            <li>AltaOne</li>
            <li>America First Credit Union</li>
            <li>American Express Card</li>
            <li>American National Bank</li>
            <li>Ameriprise Financial Services, Inc.</li>
            <li>Andrews Federal Credit Union</li>
            <li>Apple FCU</li>
            <li>Ariel Mutual Funds</li>
            <li>Arizona Federal Credit Union</li>
            <li>Ascentra Credit Union</li>
            <li>AXA Equitable</li>
            <li>BancFirst</li>
            <li>Bank of America</li>
            <li>Bank of Tampa, The</li>
            <li>Bank of the Cascades</li>
            <li>Bank of the West</li>
            <li>Bank One (Chicago)</li>
            <li>Bank One (Michigan and Florida)</li>
            <li>BankBoston PC Banking</li>
            <li>bankfinancial</li>
            <li>Baton Rouge City Parish Emp FCU</li>
            <li>BB&T</li>
            <li>Belmont Savings Bank</li>
            <li>Bernstein Global Wealth Mgmt</li>
            <li>Billings Federal Credit Union</li>
            <li>Boeing Employees Credit Union</li>
            <li>California Bank&Trust</li>
            <li>Cambridge Portuguese Credit Union</li>
            <li>Cambridge Savings Bank</li>
            <li>Campus USA Credit Union</li>
            <li>Capital One 360</li>
            <li>Capital One Bank</li>
            <li>Cedar Point Federal Credit Union</li>
            <li>CenterState Bank</li>
            <li>Centra Credit Union2</li>
            <li>Central Maine FCU</li>
            <li>Centura Bank</li>
            <li>Century Federal Credit Union</li>
            <li>Charles Schwab Bank, N.A.</li>
            <li>Charles Schwab&Co., INC</li>
            <li>Chase</li>
            <li>Chemical Bank</li>
            <li>Citi Credit Card</li>
            <li>Citi Personal Wealth Management</li>
            <li>Citibank</li>
            <li>Citizens Bank</li>
            <li>Citizens Bank - Business</li>
            <li>Citizens Bank - Consumer</li>
            <li>Citizens National Bank</li>
            <li>Collegedale Credit Union</li>
            <li>Colonial Bank</li>
            <li>Columbia Credit Union</li>
            <li>Comerica Bank</li>
            <li>Commerce Bank</li>
            <li>Commerce Bank, NA</li>
            <li>Commercial Federal Bank</li>
            <li>Community Bank, N.A.</li>
            <li>Community Resource Bank</li>
            <li>Consumers Credit Union</li>
            <li>Credit Union ONE</li>
            <li>DATCU</li>
            <li>Delta Community Credit Union</li>
            <li>Denali Alaskan FCU</li>
            <li>Desert Schools Federal Credit Union</li>
            <li>Dodge&Cox Funds</li>
            <li>Dreyfus</li>
            <li>EAB</li>
            <li>Eastern Bank</li>
            <li>Edward Jones</li>
            <li>Elevations Credit Union IB WC-DC</li>
            <li>FAA Credit Union</li>
            <li>Fairwinds Credit Union</li>
            <li>Fidelity NetBenefits</li>
            <li>Fifth Third Bancorp</li>
            <li>Finance Center FCU (IN)</li>
            <li>Financial Center CU</li>
            <li>First Citizens</li>
            <li>First Citizens Bank - NC, VA, WV</li>
            <li>First Hawaiian Bank</li>
            <li>First Internet Bank of Indiana</li>
            <li>First Interstate Bank</li>
            <li>First National Bank (Texas)</li>
            <li>First National Bank of St. Louis</li>
            <li>First Republic Bank</li>
            <li>First Tech Federal Credit Union</li>
            <li>Firstar</li>
            <li>FirstBank of Colorado</li>
            <li>FivePoint Credit Union</li>
            <li>Flagstar Bank</li>
            <li>Fremont Bank</li>
            <li>Goldman Sachs</li>
            <li>Haverhill Bank</li>
            <li>Hewitt Associates LLC</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <li>Home Federal Savings Bank(MN/IA)</li>
            <li>Hudson Valley FCU</li>
            <li>Hughes Federal Credit Union</li>
            <li>IBM Southeast Employees Federal Credit Union</li>
            <li>ING DIRECT</li>
            <li>ING Institutional Plan Services </li>
            <li>Insight CU</li>
            <li>International Bank of Commerce</li>
            <li>IronStone Bank</li>
            <li>Janney Montgomery Scott LLC</li>
            <li>Janus</li>
            <li>JSC Federal Credit Union</li>
            <li>Kennedy Space Center FCU</li>
            <li>KeyBank</li>
            <li>Kinecta Federal Credit Union</li>
            <li>Kitsap Community Credit Union</li>
            <li>LaSalle Bank Midwest</li>
            <li>LaSalle Bank NA</li>
            <li>Local Government Federal Credit Union</li>
            <li>Los Alamos National Bank</li>
            <li>M & T Bank</li>
            <li>Mainline National Bank</li>
            <li>Marquette Banks</li>
            <li>Mellon Bank</li>
            <li>Mercer</li>
            <li>Merrill Lynch Online Payment</li>
            <li>Merrill Lynch&Co., Inc.</li>
            <li>Metro Bank</li>
            <li>Michigan State University Federal CU</li>
            <li>Mission Federal Credit Union</li>
            <li>Missoula Federal Credit Union</li>
            <li>Morgan Stanley ClientServ</li>
            <li>Mountain America Credit Union</li>
            <li>myStreetscape</li>
            <li>Nantucket Bank</li>
            <li>National Penn Bank</li>
            <li>NetxClient UAT</li>
            <li>Nevada State Bank - New</li>
            <li>Nevada State Bank - OLD</li>
            <li>North Carolina State Employees Credit Union</li>
            <li>North Carolina State Employees' Credit Union</li>
            <li>North Country FCU</li>
            <li>Northwest Community CU</li>
            <li>Norwest</li>
            <li>OCTFCU</li>
            <li>Old National Bank</li>
            <li>Oppenheimer & Co. Inc.</li>
            <li>OptionsXpress, Inc</li>
            <li>Oregon College Savings Plan</li>
            <li>Oregon Community Credit Union</li>
            <li>Patelco CU</li>
            <li>Picatinny Federal Credit Union</li>
            <li>PNC Bank</li>
            <li>Premier America Credit Union</li>
            <li>PSECU</li>
            <li>RaboBank America</li>
            <li>RBC Dain Rauscher</li>
            <li>Regions Bank</li>
            <li>Robert W. Baird & Co.</li>
            <li>Royce&Associates</li>
            <li>Sacramento Credit Union</li>
            <li>Sandia Laboratory Federal Credit Union</li>
            <li>Santa Barbara Bank & Trust</li>
            <li>ShareBuilder</li>
            <li>Smith Barney - Transactions</li>
            <li>South Carolina Bank and Trust</li>
            <li>South Trust Bank</li>
            <li>Southern Community Bank and Trust (SCB&T)</li>
          <li>Southwest Missouri Bank</li>
          <li>Spectrum Connect/Reich&Tang</li>
          <li>Standard Federal Bank</li>
          <li>Sterne Agee</li>
          <li>Suncoast Schools FCU</li>
          <li>SunTrust</li>
          <li>T. Rowe Price</li>
          <li>TD Bank</li>
          <li>Technology Credit Union - CA</li>
          <li>Texans Credit Union</li>
          <li>Texas Dow Employees Credit Union</li>
          <li>The Community Bank</li>
          <li>The Golden1 Credit Union</li>
          <li>TIAA-CREF</li>
          <li>Tower Federal Credit Union</li>
          <li>Truliant FCU</li>
          <li>UMB</li>
          <li>Umpqua Bank</li>
          <li>Union Bank of California</li>
          <li>United California Bank</li>
          <li>UNIVERSITY & STATE EMPLOYEES CU</li>
          <li>University Credit Union</li>
          <li>US Bank</li>
          <li>USAA Federal Savings Bank</li>
          <li>Utah Community Credit Union</li>
          <li>UW Credit Union</li>
          <li>VALIC</li>
          <li>Van Kampen Funds, Inc.</li>
          <li>Vantage Credit Union</li>
          <li>Velocity Credit Union</li>
          <li>VISA Information Source</li>
          <li>Waddell & Reed - Ivy Funds</li>
          <li>Wells Fargo</li>
          <li>Wings Financial</li>
          <li>Woodsboro Bank</li>
          <li>WSECU</li>
          <li>Zions Bank</li>
        </ul>
      </div>
    </div>
    <h1 id="transactions">Transactions</h1>
    <h2 id="assigning-transactions">Assigning to Envelope</h2>
    Assigning transactions to envelopes can be done two different ways:
    <ol>
      <li><strong>Edit Transaction</strong> - Double click or highlight and click "Edit" and then select the Envelope before saving.<br/>
       <img class="img-thumbnail" src="{{assets}}/images/assign-transaction.png"/></li>
       <li><strong>Drag and Drop</strong> - Simpy click and hold the mouse button down while you drag the transaction over an envelope.<br/>
        <img class="img-thumbnail" src="{{assets}}/images/assign-drag-drop-transaction.png"/></li>
      </ol>
      <h2 id="splitting-transactions">Splitting</h2>
      <p>Let's say you go to Target and spend $75.00.  $25.00 of this was for groceries and the rest was for clothing.  The transaction that shows up in your account is $75.00 but needs to be "split" across multiple envelopes.  Splitting a transaction is easy.</p>
      <ol>
        <li>Open the transaction for editing by double clicking it or highlighting and clicking "Edit" button.</li>
        <li>Click the "Split" button.  You will see an envelope line item added to the transation and "Amount" column appear.</li>
        <li>Specify the envelope and amount for each "split".  The total of the split amounts should add up to the transaction amount.</li>
        <img class="img-thumbnail" src="{{assets}}/images/split-transaction.png"/>
        <h2 id="allocating-income">Allocating Income</h2>
        <p>Income transactions (i.e. your paycheck) should be placed in the "Unallocated Income" envelope first.  It is recommended to setup a <a href="#filters">Filter</a> to allow income transactions to be assigned automatically.  When you are ready to allocate your income, simply click the Unallocated Income envelope and then click the "Allocate Income Now" button at the top.</p>
        <img class="img-thumbnail" src="{{assets}}/images/allocate-income.png"/>
        <p>An "Allocate Income" window will open prompting you to specify how to allocate the income.  The envelope amounts should add up to the total allocation amount.  If you have added Incomes, you should have "Allocation Plans" available on the top.  You can select the appropriate allocation plan and then click "Apply" to prepopulate the envelope amounts.</p>
        <img class="img-thumbnail" src="{{assets}}/images/allocate-income-form.png"/>
        <h2 id="filters"> Filters</h2>
        <p>Transaction filters allow for automatic assignment of new transactions to predefined envelopes.  This saves you time so you don't have to assign recurring transactions that you already know about.  For instance, you can setup filters for your monthly bills (mortgage, cell phone, etc.) so that those transactions will automatically be assigned to the correct envelope.</p>
        <p>To add or edit filters, click the "Filters" button from the Transactions screen (top right).</p>
        <img class="img-thumbnail" src="{{assets}}/images/filters.png"/>
        <p>You can then add, edit and/or remove filters and then click "Save".  The transaction name you enter does not have to match new transactions exactly but it should at least be close.  For instance, "SHELL" would match a new incoming transaction of "SHELL OIL STORE #5929.  Also, enter the amount of the transaction is optional.  If an amount is specified, only new transactions of that exact amount will be filtered.  If no amount is specified, only the transaction name will be used for matching.</p>
        <img class="img-thumbnail" src="{{assets}}/images/filters-edit.png"/>
      </div>
    </div>
  </div>
</div>